{% extends "base.html" %}
{% block receipt %}

				<div class="span-7 last" >
                	<div class="receipt">
            	
                <h3 style="text-align:center; margin-top:1em;">Learn More</h3>
                <ul style="padding-left:3em">
                	<li><a href="/coopshop/about">Our Mission</a></li>
                	<!--<li>News Blog</li>-->
                	<li><a href="/coopshop/about/whatis">What is a Food Co-op?</a></li>
                    <li><a href="/coopshop/about/faq">FAQ</a></li>
                    <!--<li>How Does Atomic Work?</li>-->
                	<li><a href="/coopshop/about/involved">Become Involved</a></li>
                    <li>Join Now</li>
                    <li><a href="/coopshop/categories">Shop</a></li>
                    <li>Contact Us</li>
                 </ul>
                  </div>
                    
            </div>{% endblock %}
{% block breadcrumb %}{% endblock %}
{% block content %}
            
            <div class="span-15">
            <h2>Our Mission</h2>

<p>The Atomic Cooperative Market serves the entire community as a non-profit cooperative business supplying food and other goods and services while operating in accordance with the 7 principles of the International Cooperative Association.</p>
<ul>
<li>Open and voluntary membership</li>
<li>Democratic member control</li>
<li>Member economic participation</li>
<li>Autonomy and independence</li>
<li>Education, training, and information</li>
<li>Co-operation among co-operatives</li>
<li>Concern for community</li>
</ul>

<p>We will implement these principles with the following goals:<p>
<ul><li>Maintain the Atomic Cooperative Market as a successful and self-supporting business</li>
<li>Enable the community to choose their food products and suppliers based on their own needs, concerns, and priorities.</li>
<li>Enhance access to wholesome, healthy, and natural food to the broad community regardless of background, culture, or economic resources.</li>
<li>Support the local economy prioritizing values and principles over monetary concerns.</li>
<li>Operate with concern for social, economic, and environmental sustainability</li>
<li>Operate with concern for social, economic, and environmental justice</li>
<li>Operate with transparency and trust by giving the community full information (and therefore influence) about the business choices and practices of the co-op..</li>
<li>Educate the community about matters that affect its own health and sustainability and that of the Earth and it's inhabitants</li>
 </ul>         
            </div>
{% endblock %}
