{% extends "about/about.html" %}
{% block content %}
            <div class="span-15">
            <h2>FAQ PAGE</h2>

<ol>           
<li>  There are well over a dozen food coops in WA and close to 1000 across the nation.  The Tri-Cities is just about the only urban area of this size in WA without one. </li>
 
<li> A food coop is most simply a full-service, brick and mortar, grocery store.  However, as a business entity, it has been incorporated as a "cooperative", rather than an LLC (typical for-profit business).  There are many kinds of cooperatives:  electric coops, farmers coops, etc.  A cooperative is a business that does not make profit for an owner or controlling parties.  It works for the benefit of the business itself, and its members.  This frees up a lot of capital that allows a food coop to operate on the basis of principles rather than profit, while still being a viable business.</li>

<li>Atomic will serve the entire community.  There are reasons to become a member. <ol style="list-style-type:lower-alpha"> <li> Your membership fee contributes capital to get the coop started, and continue thriving.</li> <li>You get to elect the board and vote on important matters.</li><li>You can serve on the board if you wish.</li><li>You are entitled to patronage refunds and other discounts and benefits.</li><li>You can volunteer your time and receive shopping credits or other benefits.</li>
</ol></li>

<li>Other WA cities with at least one food coop each:</li>
<ul><li>Vancouver, Olympia, Yelm, Tacoma, Seattle, Mt Vernon, Bellingham, Kitsap, Tonasket, Ellensberg, Yakima, Walla Walla, Spokane, Pullman (Moscow)</li></ul>
<li>Examples of principles over profit:</li>
<ol style="list-style-type:lower-alpha"><li>The local apples are more expensive right now, but the coop will carry them anyway.</li>
<li>A product is a good seller, but is not produced sustainably.  The coop will find a comparable product that is.</li>
<li>The coop could make more money by dumping the tired produce to make room for fresh stock.  Instead, the tired produce will be on display, heavily discounted, and eventually taken to the soup kitchen or sent home with volunteers and employees.</li>
</ol>

<h3>Q&A</h3>
<p>Q: Do I have to be a member to shop there?<br />
A: No.  To the public, the coop appears as a "normal" natural foods market</p>
<p>Q: I haven't noticed it yet.  Where are you located?<br />
A: We are looking at property in the central Kennewick shopping zone.</p>
<p>Q: Is it member owned?<br />
A: Yes.  Technically the members own the business.</p>
<p>Q:  Why should I become a member?<br />
A:  Members elect the board, speak at board meetings, raise voting issues, and in other ways influence the operation of  the coop.  Members receive special discounts and benefits.  Your membership fee helps capitalize the business and keep it strong.</p>
<p>Q: Do I have to volunteer to shop there?<br />
A: No.  However, "working members" do receive extra benefits, and know that they are contributing to their community.</p>
<p>Q:  Is Atomic a non-profit?<br />
A:  In the eyes of the IRS it is a business, not a 501c3.  In the eyes of Washington State, it is a non-profit.  Atomic is incorporated under RCW 24.06 as a non-profit cooperative.</p>
<p>Q:  Is this like a food buying club?<br />
A:  Many coops grow out of food buying clubs.  A food coop is a brick and mortar store where you go to shop for whatever you want whenever you want.</p>
<p>Q:  How long will it be before you are open?  How far along are you?<br />
A:  We will soon be accepting memberships.  We are conducting market research, and will soon approach funding sources, such as grants, loans, banks, etc.  Then we can remodel a building to fit our needs.  Realistically, this could take up to a year or more.</p>
<p>Q:  Is it going to be expensive?<br />
A:  We hope to have very competitive prices.  Lower than Yokes, but probably more than Winco.  Members can help keep costs as low as possible by volunteering their time and building a sense of community.</p>
<p>Q:  Is this like a Trader Joe's?<br />
A:  Somewhat, except there is no Trader Joe making money off of it.  Atomic serves its community, and will always prioritize carrying the most local, most natural, and most sustainable products, over profit.</p>
<p>Q:  If it is a non-profit, does that mean it won't make any money?<br />
A:  Atomic will most definitely make money!  Some of that money is returned to members based on patronage.  The rest will be put back into the business to keep it strong.  Many food coops are so successful they are also able to contribute to local organizations and programs.</p>
<p>Q:  Will the coop be run by volunteers?<br />
A:  Atomic will be run by well paid staff.  They will earn a living wage and benefits.  We are hoping that many jobs will be done by members who volunteer their time.  This will build community and keep costs down.</p>
<p>Q:  Is this like a farmers market?  or   Why don't I just go down to the farmers market?<br />
A:  We totally support farmers markets.  But you might want to know that a food coop is a full service grocery store where you can do all your shopping at once.
<p>Q: What is the membership fee?<br />
A: $200 lifetime membership.</p>
<p>Q: How do I become a member?<br />
A: We won't have our bank account until Tuesday.  Please fill out the email form on the website, and say in the comment that you want to become a member right away.  We'll contact you when we can take your money!</p>
<p>Q: Why should I become a member NOW, before there is a store?<br />
A: (1) You will have input from the get-go to make the store what you want.  (2) The seed money form initial memberships is absolutely necessary to make this happen.  To get a bank loan, we will need seed money both as collateral and to show the level of community support.</p>
<p>Q: What happens to my membership fee if the store never opens, or closes right away?<br />
A: According to the articles of incorporation, if the Atomic Cooperative Market dissolves, then all debts are paid, and whatever is left over is distributed equally among the members.</p>
            </div>
{% endblock %}
