{% extends "about/about.html" %}
{% block content %}
            <div class="span-15">
            <h2>Help make Atomic Cooperative Market a reality!</h2>

<p>
This is a community effort, and we need your support.  If you are willing to serve on our board of directors, or even if you simply want be a committee member (just work on specific tasks), please fill out this application.</p>
<p>We especially need people with expertise in any of these areas:<p/>
<p><ul><li>Marketing</li>
<li>Business management</li>
<li>Fund Raising</li>
<li>Retail Sales</li>
<li>Small business start-up and business plans</li>
<li>Public Relations</li>
<li>Web programming</li>
</ul></p>
<p>You can also read more here.</p> 
</div>
{% endblock %}
