{% extends "about/about.html" %}
{% block content %}
            <div class="span-15">
            <h2>What is a Food Co-op?</h2>

<p>A food coop is a a cooperatively owned and operated market usually selling groceries and dry goods. While members There are hundreds of food coops across the country, and about a dozen in the state of washington.</p>
<p>Rather than focusing on profits for stockholders or investors, a co-op is a business that keeps it profits to better the co-op or community. Members enjoy some extra benefits, and can participate in directing the business.</p>
<p>Read more…</p>
<p><a href="http://test.ncga.coop/">http://test.ncga.coop</a></p>
<p><a href="http://en.wikipedia.org/wiki/Food_coop">http://en.wikipedia.org/wiki/Food_coop</a></p> 
</div>
{% endblock %}
