{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {% trans 'Django site admin' %}{% endblock %}

{% block extrastyle %}
<style>
#header{ background-color: white; border-bottom: solid 8px #999; border-color: #3c912c; color: black}
#header a:hover { color: #036; }
#header a:link, a:visited { color: #5b80b2; text-decoration: none; }
/*#branding h1{ color: #fff; }*/
</style>
{% endblock %}

{% block branding %}
<a href="/"><img src="{{ STATIC_URL }}coopshop/logo.png"/></a><hr>
{% endblock %}

{% block nav-global %}{% endblock %}
