{% extends "base.html" %}
{% block breadcrumb %}{% endblock %}
{% block receipt %}{% endblock %}
{% block footer %}{% endblock %}

{% block content %}
		<form method="POST">
		{% csrf_token %}
		{{queryForm}}
		<input type="submit">
		</form>
		{% for order in orders %}
			{% if order.orderitem_set.count > 0 %}
		<div class="bin">
		<table>
			<tr>
				<td rowspan="999" style="width: 200px">
					{{order.customer.get_full_name}}<br />
					{{order.customer.get_profile.address1}}<br />
					{% if order.customer.get_profile.address2 %}
						{{order.customer.get_profile.address2 }}<br />
					{% endif %}
					{{order.customer.get_profile.city}}, {{order.customer.get_profile.state}}, {{order.customer.get_profile.zip}}
				</td>
				<th>Quantity</th>
				<th>Product</th>
				<th>Producer</th>
			</tr>
				{% for item in order.orderitem_set.all %}
			<tr>
						<td>{{item.quantity}}</td>
						<td>{{item.product.name}}</td>
						<td>{{item.product.producer}}</td>
			</tr>
				{% endfor %}
		</table>
		</div>
			{% endif %}
		{% endfor %}
{% endblock %}
