{% extends "base.html" %}
{% block breadcrumb %}{% endblock %}
{% block receipt %}{% endblock %}
{% block footer %}{% endblock %}

{% block content %}
		<form method="POST">
		{% csrf_token %}
		{{queryForm}}
		<input type="submit">
		</form>
		{% for order in orders %}
			{% if order.orderitem_set.count > 0 %}
		<div class="bin">
		<table>
			<tr>
				<td rowspan="999" style="width: 200px">
					{% if order.delivered %}
					<strong>Delivered</strong><br /><br />
					{% endif %}
					Order #{{order.id}}<br />
					{{order.customer.get_full_name}}<br />
					{{order.customer.get_profile.address1}}<br />
					{% if order.customer.get_profile.address2 %}
						{{order.customer.get_profile.address2 }}<br />
					{% endif %}
					{{order.customer.get_profile.city}}, {{order.customer.get_profile.state}}, {{order.customer.get_profile.zip}}
				</td>
				<th>Quantity</th>
				<th>Producer</th>
				<th>Product</th>
				<th>Price</th>
			</tr>
				{% for item in order.orderitem_set.all %}
			<tr>
				<td>{{item.quantity}}</td>
				<td>{{item.product.producer}}</td>
				<td>{{item.product.name}}</td>
				<td class="number-cell">{{item.price}}</td>
			</tr>
				{% endfor %}
			<tr>
				<td></td>
				<td></td>
				<td>Subtotal</td>
				<td class="number-cell">{{order.subtotal}}</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>Tax</td>
				<td class="number-cell">{{order.tax}}</td>
			</tr>
			{% if order.memberFee > 0 %}
			<tr>
				<td></td>
				<td></td>
				<td>Nonmember Fee</td>
				<td class="number-cell">{{order.nonmemberfee}}</td>
			</tr>
			{% endif %}
			<tr>
				<td></td>
				<td></td>
				<td>Total</td>
				<td class="number-cell">{{order.total}}</td>
			</tr>
		</table>
		</div>
		<br />
			{% endif %}
		{% endfor %}
{% endblock %}
